{
	"presets":[
    ["es2015",{"modlues":false}]
  ],
  "plugins": [
    "transform-object-rest-spread",
    // ["import", { "libraryName": "antd","style": "css"}], // `style: true` for less
    "syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }],
    "syntax-async-functions",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-vue-jsx"
  ],
  "ignore":[
    
  ]
}

